/* LoginAsk.css */

/* Center the container vertically and horizontally */
.container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* Adjust as needed */
}

/* Add margin at the top of the cards */
.mt-cards {
  margin-top: 1rem; /* Adjust as needed */
}

/* Add margin at the bottom of the cards */
.mb-cards {
  margin-bottom: 0.2rem; /* Adjust as needed */
}
